@use "./partials/variables" as *;
@import "node_modules/bootstrap/scss/bootstrap.scss";


.btn.my-btn {
    background-color: $secondary-color;
    color: white;
  
    &:hover {
      background-color: #14213de1;
      color: white;
    }
  }

